* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    font-size: 16px;
    color: darkslategray;
    height: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

.main-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 0 10px 0;
    background-color: white;
}

.header {
    background-image: url('IMAGES/WELSH FLAG WALLPAPER.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 32px;
    color: white;
    font-size: 50px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 4px;
    text-align: center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: darkslategray;
}
#menu > li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

#menu a {
    text-decoration: none;
    color: darkslategray;
    font-size: 16px;
}

#menu a:hover {
    text-decoration: underline;
    color: red;
}

.row a {
    background-image: url('IMAGES/EC.jpg');
    background-size: cover;
    border-radius: 20px;
    padding: 0 10px 20px 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: darkslategrey;
    font-size: 16px;
    position: relative;
    left: 50%;
}

.row a:hover {
    color: forestgreen;
    text-decoration: underline;
}

#socialmedia-menu {
    list-style: none;
    display: inline-block;
    position: relative;
}

    #socialmedia-menu a {
        width: 50px;
        height: 46px;
        display: inline-block;
        background-size: 350px 98px;
    }

.a11yhide {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}

#ElgrandOC {
    background-image: url('IMAGES/NISSANLOGO.jpg');
    width: 50px;
    height: 46px;
    background-position: 0 0;
    background-size: cover !important;
}

    #ElgrandOC:hover {
        background-image: url('IMAGES/NISSAN-LOGO-BLACK.jpg');
        background-position: center;
        background-size: cover;
    }

#instagram {
    background-image: url('IMAGES/social-media-sprite-sheet.png');
    width: 50px;
    height: 46px;
    background-position: -150px 0;
    position: relative;
}

    #instagram:hover {
        background-position: -150px -46px;
    }

#facebook {
    background-image: url('IMAGES/social-media-sprite-sheet.png');
    width: 50px;
    height: 46px;
    background-position: 0 0;
    position: relative;
}

    #facebook:hover {
        background-position: 0 -46px;
    }

#twitter {
    background-image: url('IMAGES/social-media-sprite-sheet.png');
    width: 50px;
    height: 46px;
    background-position: -50px 0;
    position: relative;
}

    #twitter:hover {
        background-position: -50px -46px;
    }